@mixin commonCellStyle {
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 15px;
}

.tableStyle {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 40px 90px 55px -20px rgba(155, 184, 243, 0.2);
}

.tableHeaderStyle {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #6d95e0;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

.tableCellStyle {
  @include commonCellStyle;
  background-color: #fff;
}

.tableErrorCellStyle {
  @include commonCellStyle;
  background-color: #d24040;
}
